/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Special+Elite&display=swap');

:root {
    --primary--clr:#9BB77B;
    --secondary--clr:#C51321;
    --secondary--link--clr:rgb(236, 16, 34);
    --background--clr:#363636;
    --text--clr:#F5F5F5;
    --heading--h1:#F5F5F5;
    --heading--h2--h3:#171717;
    --btn:#F5F5F5;
    --form--clr:#C2C2C2;
}
*{
    margin:0;
    padding:0;
    border:0;
}
html {
    scroll-behavior: smooth;
}
/*
I stopped using the followed code, 
as the problem was with
setting width:100vw for the 
background images and body 
html {
    overflow-x: hidden; 
}*/

body {
    font-family: 'Oswald', sans-serif;     
    font-size: 1.2rem;
    background-color:var(--background--clr);
    color: var(--text--clr);
    height:100vh;

  /* 
  I stopped using the followed code, as it caused the
  horizontal scrolling
   width: 100vw;*/
}

h1,
h2,
h3,
h4 {
 font-family: 'Special Elite', cursive;
}

 h1 {
    font-size: 2rem;
    color: var(--heading--h1);
 }

 h2 {
     font-size: 1.4rem;
     color: var(--heading--h2--h3);
     letter-spacing: 1px;
 }

 h3 {
    font-size: 1.1rem; 
    color: var(--heading--h2--h3);
 }

 h4 {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    line-height: 1.3;
    letter-spacing: 1px;
 }

 p {
    font-weight: 300;
    margin-bottom: 1.6rem;
 }

 .section-margin-bottom {
    margin-bottom: 6rem;
}
 /*---------------------------- NAVIGATION ------------------------*/
  .logo {
    width: 100px;
    height: auto;
    margin-left: 5px;
    padding: 2px 0px 2px  0px;
}

#navbarNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.navbar {
    background-color:var(--primary--clr);
    color: var(--heading--h2--h3);
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 2px;
    font-size: 1.2rem;
    width: 100%;
    border: 0;
}

.navbar-brand {
    margin-right: 0;
}

.navbar .navbar-brand {
    font-weight:400;
    padding: 0;
}

.navbar .navbar-nav a {
    font-weight: 600;
}

.navbar .navbar-toggler {
    color: var(--primary--clr);
    margin-right: 5px;
}


.navbar-light .navbar-nav .nav-link {
    color: var(--heading--h2--h3);
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--text--clr);
}

/* -------------------------- HOME/WELCOME - jumbotron ---------------- */
.welcome-sign-top {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--text--clr);
    margin-bottom: 5px;
    font-weight:600;
}

.welcome-sign-bottom {
    font-size: 17px;
    text-align: center;
}

.hr-line {   
    width: 35%;
    height:4px;
    border: 0;
    background-color: var(--secondary--clr);
    margin: 7px auto;
 }
/* ---------- Credit Photo by Lukas Medvedevas from Pexels ---------- */
/*------------CREDIT: inspiration/code snipped from Whiskey project in Bootstrap and customized----*/
.home-container {
    background: url('../images/hero-image.jpg') no-repeat bottom center fixed;
    background-size: cover;
    height: 100%;
    width: auto;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.jumbotron {
    background-color:rgb(6 6 6 / 72%); 
    border-radius:0.9rem;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
  }

.btn-lg {
    font-size: 0.9rem;
}

.btn-primary {
    color: var(--btn);
    background-color: var(--secondary--clr);
    border-color: var(--secondary--clr);
    letter-spacing: 2px;
    border-radius:0.7rem;
    font-weight: 600;
}
.btn-primary:hover {
    background-color: var(--secondary--link--clr);
    border-color: var(--secondary--link--clr);
}

.btn-style {
    padding: 9px 8px;
}

/* -------------------------------- ABOUT ------------------------------- */
/*
#about needed to lover the header out from 
the navbar which overlying the content 
in the about section
*/ 
#about {
    border-top:3px solid transparent;
    margin-top: -3px;
    height: auto;
}

.tours-style h2 {
    text-align: left;
    font-weight: 600;
    color: var(--text--clr);
    padding-bottom: 5px;
    letter-spacing: 2px;
}

.heading-text {
    background-color: transparent;
    text-transform: uppercase;
	padding: 5px 2px;
    text-align: center;
    letter-spacing: 2px;
}

.heading-text h1 {
    margin-top: 23px;
    padding-top: 10px;
}

.heading-text {
    margin:8px 0px;
}

.card {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    min-height: 1px;
    padding: 0.7rem;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 5px;
}

.fa-li {
    font-size: 0.9rem;
}

.fa-ul {
    margin-left: 1.5rem;
}


/* ----------------------------- TOURS ---------------------------- */

/*
#tours needed to lover the header out from 
the navbar which overlying the content 
in the about section
*/ 
#tours {
    border-top:3px solid transparent;
    margin-top: -3px;
    height: auto;
}

.padding {
    padding-left: 0px;
    padding-right: 0px;
}

.video-card-tours {
    height: auto;
    margin-bottom: 20px;
}

.video-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
   
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.tours-images-style {
    margin-top: 10px;
    margin-bottom: 10px;
}

#image-tours {
   background-attachment: fixed;
   /* ---------- Credit Photo by Eric Sanman from Pexels ---------- */
    background-image: url('../images/forest.jpg');
    background-position: center;
    background-size: cover;
    /*
    I stopped using the followed code, 
    as it caused the horizontal scrolling
    width: 100vw;
    */
    height: 800px;
    width: auto;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0px; 
}

/* --- Credit: w3school snipped code/customized for Image Hoover Overlay Fade for the images and edited slightly to fit project needs-------------- */
.card-tours {
    margin-top: 10px;
    position: relative;
    width: 50%;
}

.card-img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.middle {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-tours:hover .card-img {
    opacity: 0.7;
}

.card-tours:hover .middle {
    opacity: 1;
}

.text {
    background-color:rgb(6 6 6 / 72%); ;
    color: white;
    font-size: 14px;
    padding: 10px 22px;
    border-radius: 8%;
}

a.phone-number{
    color: var(--text--clr);
    text-decoration: none;
}

a.phone-number:hover{
    color: lightgray;
    text-decoration: none;
}
/* ----------------------------------------------- GALLERY ----------------------------------------------- */
/*
#gallery needed to lover the header out from 
the navbar which overlying the content
in the about section 
*/ 

#gallery {
    border-top:3px solid transparent;
    margin-top: -3px;
}

.image-style {
    width: 100%;
    height: auto;
    border: 6px solid white;
    border-radius: 0.3rem;  
    padding: 4px; 
    margin-top: 0.3rem;
    margin-bottom:1.2rem;
}
.image-modal {
    width: 100%;
    height: auto;
}

.image-style:hover {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 0px 7px 3px #fff;
            box-shadow: 0px 0px 7px 3px #fff;
}

.btn-check:focus+.btn-dark, .btn-dark:focus {
    background-color:transparent; 
    border:none; 
}

.btn-dark {
    background-color: transparent;
    border:none;
    padding: 0px;
}

.btn-dark:hover {
    background-color:transparent; 
    border-width:0px;
    padding: 0px;
}

#image-gallery {
   background-attachment: fixed;
   /* ---------- Credit Photo by Lumn from Pexels ---------- */
    background-image: url('../images/shoes.jpg');
    background-position: center;
    background-size: cover;
     /*
    I stopped using the followed code, 
    as it caused tht horizontal scrolling
    width: 100vw;
    */
    height: 800px;
    width: auto;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0px; 
}

/* ------------------------------------------------- CONTACT --------------------------------------------- */
/*
#contact needed to lover the header out from 
the navbar which overlying the content  
in the about section
*/
#contact {
    border-top:3px solid transparent;
    margin-top: -3px;
    height: 100vh;
}

.contact-sent-btn {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    width: auto;
    margin-bottom: 5rem;
    font-weight: 600;
}

.margin {
    margin-top: 36px;
    margin-bottom: 36px;
    padding-left: 5px;
    padding-right: 5px;
}

.contact-details {
    color:var(--secondary--clr);
    text-decoration: none;
}

.contact-details:hover {
    color:var(--secondary--link--clr);
    text-decoration: none;
}

.input-box {
    width: 100%;
    display: block;
    background-color: var(--form--clr);
    border: 2px solid #f3f3f3;
    border-radius: 3px;
}

label {
    letter-spacing: 2px;
    margin-bottom: 0.3rem;
    font-size: smaller;
}

.input-box {
    color: var(--background--clr);
    letter-spacing: 1px;
}

#image-contact {
   background-attachment: fixed;
   /* ---------- Credit Photo by Sebastian Voortman from Pexels ---------- */
    background-image: url('../images/happy-girl.jpg');
    background-position: center;
    background-size: cover;
     /*
    I stopped using the followed code, 
    as it caused tht horizontal scrolling
    width: 100vw;
    */
    height: 800px;
    width: auto;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0px; 
}

/* ---------------------------------- FOOTER --------------------------------------- */
footer {
    width: 100%;
    bottom: 0px;
	height: 3.5rem;
    background-color:var(--primary--clr);
    color: var(--heading--h2--h3);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	align-items: center;
    position: absolute;
    z-index: 1030;
}
 ul.contact-links {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

footer .contact {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0px 0px 0px 4px;
}

.contact-links-item {
    display: inline-block;
}

.contact-links i {
    font-size:0.7rem;
}

.contact-links a:hover {
    color:var(--text--clr);
    font-weight: 300;
}

.contact-links-item a {
    color: var(--heading--h2--h3);
    padding-left: 2px;
    text-decoration: none;
    font-size: 0.6rem;
}

.social-network {
    width: 40%;
	margin: auto 5%;
	list-style: none;
	    display: -webkit-box;
        display: -ms-flexbox;
	display: flex;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
	justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;	
    align-items: center;
}

.social-network li {
font-size: 1.3rem;
}

.social-network a {
    color: var(--heading--h2--h3);
	margin:0.3rem;
	padding: 0.3rem;
}

.social-network i:hover {
    color:var(--text--clr);
}

/*--------------------------Media for background images for smaller devices------------------------*/
 @media screen and (max-width: 1024px){
    #image-about {
         /* ---------- Credit Photo by Lumn from Pexels------- */
        background-image: url('../images/shoes-mobile.jpg');
    }
    #image-tours {
        /* ---------- Credit Photo by Eric Sanman from Pexels ---------- */
            background-image: url('../images/forest-mobile.jpg');
        }
    #image-contact {
        /* ---------- Credit Photo by Sebastian Voortman from Pexel------- */
        background-image: url('../images/happy-girl-mobile.jpg');
        }
/* -------- Credit Photo by Lukas Medvedevas from Pexels ------ */
    .home-container{
            background-image: url('../images/hero-image-mobile.jpg') ;
        }
 }

/*-------------------------------------------Media for Small devices------------------------------*/
@media screen and (min-width:360px){
    .welcome-sign-top {
        font-size: 27px;
        letter-spacing: 1px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .welcome-sign-bottom {
        font-size: 20px;
        padding-right: 12px;
        padding-left: 12px;
    }
    .card {
        margin-bottom: 10px;
    }
    .video-card-tours {
        margin-bottom: 30px;
    }
}

/*-------------------------------------------Media for Medium devices devices------------------------------*/
@media screen and (min-width:768px){
    .welcome-sign-top {
        font-size: 34px;
        letter-spacing: 1px;
    }
    .welcome-sign-bottom {
        font-size: 24px;
        padding-right: 12px;
        padding-left: 12px;
        letter-spacing: 1px;
    }
    .jumbotron {
        padding: 33px 5px 25px 5px;
    }
    .card-tours {
        margin-left: 7px;
        margin-right: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .video-card-tours {
        margin-left: 7px;
        margin-right: 7px
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    .align-items-center {
        padding-right: 0px;
        padding-left: 0px;
    }
    .contact-links i {
        font-size: 1rem;
    }
    footer .contact {
        font-size: 1rem;
    }
    .contact-links-item a {
        font-size: 1rem;
    }  

    footer{
        position: fixed;
    }
}

/*-------------------------------------------Media for Large devices------------------------------*/
@media screen and (min-width:1024px){
    footer .contact {
        font-size:1.1rem;
        }
    .navbar {
        font-size: 1.4rem;
        }
        body {
        font-size: 1.4rem;
    }
    }
/*-------------------------------------------Media for Extra-Large devices------------------------------*/
@media screen and (min-width:1650px) {
    .about-margin {
    margin-bottom: 10rem;
    }
    .contact-links i {
        font-size:1.1rem;
    }
    footer .contact {
        font-size:1.2rem;
    }
    .contact-links-item a {
        font-size: 1.2rem;
    }  
    .navbar {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 1.8rem;
    } 
    h3 {
        font-size: 1.2rem; 
    } 
    h4 {
        font-size: 1.5rem;
    }
    body {
        font-size: 1.5rem;
    }
}
/*-------------------------------------------Media for landscape orientation------------------------------*/
@media (max-width: 768px) and (orientation: landscape){
    footer {
        height: 2.3rem;
    }
    .jumbotron {
        padding: 10px 6px 1px 6px;
    }
    #image-about {
        /* ---------- Credit Photo by Lumn from Pexels------- */
        background-image: url('../images/shoes-landscape.jpg');
    }
    #image-tours {
        /* ---------- Credit Photo by Eric Sanman from Pexels ---------- */
        background-image: url('../images/forest-landscape.jpg');
    }
    #image-contact {
        /* ---------- Credit Photo by Sebastian Voortman from Pexels------- */
        background-image: url('../images/happy-girl-landscape.jpg');
    }
        
    .home-container{
        /* -------- Credit Photo by Lukas Medvedevas from Pexels ------ */
        background-image: url('../images/hero-image-landscape.jpg');
    }
}