@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&family=Special+Elite&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    
    font-family: 'Oswald', sans-serif;     
    font-size: 18px;
    background-color: rgb(226, 226, 226);
    color:rgb(48, 48, 48);
    margin:0;
}

 h1 {
    font-family: 'Special Elite', cursive;
    font-size: 38px;
 }
 h2 {
     font-family: 'Special Elite', cursive;
     font-size: 24px;
 }
 h3 {
    font-size: 20px; 
 }
 /* ---------- NAVIGATION ---------- */
