@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&family=Special+Elite&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
html {
    scroll-behavior: smooth;
}
body {
    
    font-family: 'Oswald', sans-serif;     
    font-size: 18px;
    background-color: rgb(48, 48, 48);
    color:rgb(226, 226, 226);
    margin:0;

    height:100vh;
    width: 100vw;
   
}

 h1 {
    font-family: 'Special Elite', cursive;
    font-size: 38px;
    color:rgb(226, 226, 226);
 }
 h2 {
     font-family: 'Special Elite', cursive;
     font-size: 24px;
     color:rgb(48, 48, 48);
 }
 h3 {
    font-family: 'Special Elite', cursive;
    font-size: 20px; 
    color: rgb(48, 48, 48);
 }
 /* ---------- NAVIGATION ---------- */
  .logo {
    width: 50%;
    height: 50%;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
 }

#navbarNav {
    justify-content: flex-end;
}

.navbar {
    background-color: rgb(87 171 36 / 91%);
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 2px;
    font-size: 22px;
    color: rgb(219 226 215);
    margin-bottom: 0;
    width: 100%;
    border: 0;
}
.navbar-brand {
    margin-right: 0;
}
.navbar .navbar-brand {
    font-weight:400;
    padding: 0;
}

.navbar .navbar-nav a {
    font-weight: 400;
}

.navbar .navbar-toggler {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: white;  
}
.navbar-light .navbar-nav .nav-link:hover {
     color: black;
}

    .underline {
        text-decoration: none;
        position: relative;
    }

    .underline:after {
        position: absolute;
        content:'';
        height: 0.15rem;
        bottom: 8px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 10%;
        background:transparent;

        -o-transition: .7s;
        -webkit-transition: .7s;
        transition: .7s;
    }

    .underline:hover:after {
        width: 80%;
        background: black;
    }

    hr {
    margin-top: 3rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgb(0 0 0 / 44%);
}

/* ---------- Home/welcome page/jumbotron ---------- */
    .welcome-sign {
        width: 75%;
    }
    .welcome-sign-top {
    font-size: 2.8rem;
    color: white;
    }

    .sign-button {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 2px;
        color: white;
    }

    .home-container{
        height: 100vh;
    
/* ---------- Credit Photo by Lukas Medvedevas from Pexels ---------- */
    background: url('../images/hero-image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.jumbotron {
    background-color: rgb(6 6 6 / 53%); 
    margin-top: 20rem;
    border-radius:0.9rem;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.0rem;
    line-height: 1.5;
    border-radius:0.9rem;
}

.btn-primary {
    color: white;
    background-color: red;
    border-color: red;
}

.btn-primary:hover{
    background-color: green;
    border-color: green;
}

/* ---------- ABOUT ---------- */


#about{
    width: 70%;
    height: 600px;
}
.about-content {
        margin-top: 12px;
}

.content-item-text {
   text-align: justify; 
}

h2 {
    text-align: center;
    font-weight: 700;
  
}

.heading-text {
    background-color: transparent;
    text-transform: uppercase;
   
	margin: 50px 0px;
	padding: 5px 2px;
    text-align: center;
    letter-spacing: 2px;
	border-radius: 8px;

    margin-bottom: 0px;
     align-items: center;
}
.heading-text h1{
    padding-top: 8px;
    margin-bottom: 0px;
}
.container {
  align-items: center;
}

.heading-text {
    margin:8px 0px;
}

.contact-email {
    color: black;
}
.contact-email:hover {
    color: white;
    text-decoration: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.7rem;
    margin-bottom: 1rem;
}
h3 {
 
    font-size: 20px;
    text-align: center;
}
/* ---------- GALLERY ---------- */
#gallery{
clear: both;
  line-height: 0px; 
  column-count:4 ;
  column-gap: 0px;

}
#gallery img{
    width: 100%;  
}






#image-tours {
   background-attachment: fixed;
   /* ---------- Credit Photo by Eric Sanman from Pexels ---------- */
    background-image: url('../images/forest.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 600px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px; 
}

/* ---------- CONTACT ---------- */
/*
.contact-sent-btn{
    width
}*/

.input-box{
    width: 75%;
    display: block;
}


#image-contact {
   background-attachment: fixed;
   /* ---------- Credit Photo by Sebastian Voortman from Pexels ---------- */
    background-image: url('../images/happy-girl.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 600px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px; 
}

/* ---------- FOOTER ---------- */
footer {
    width: 100%;
	bottom: 0px;
	height: 3.5rem;
    background-color:rgb(99 175 52);
    font-size: 1.0rem;
    color: white;
	display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	align-items: center;
	position: fixed;
	z-index: 1020;
}
 ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

footer .contact {
	width: 100%;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0px 0px;
    margin-left: 15px;
}

.contact-links-item {
    display: inline-block;
}

.contact-links i {
    font-size:110%;
}

.contact-links a:hover {
    color:black;
    margin: auto 5%;
    font-weight: 300;
}

.contact-links-item a {
    color: white;
    margin-right: 10px;
    padding-left: 2px;
    text-decoration: none;
}

.social-network {
    font-size: 110%;
    width: 40%;
	margin: auto 5%;
	list-style: none;
	    display: -webkit-box;
        display: -ms-flexbox;
	display: flex;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
	justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;	
    align-items: center;
}

.social-network a {
    color: white;
	margin: 5px;
	padding: 5px;
}

.social-network i:hover{
     color:black;
}

 @media screen and (max-width: 523px) {
   .contact-links i {
    font-size:100%;
}

footer .contact {
    font-size:0.9rem;
}
 }
/*-----Media to Welcome sign------*/
  @media screen and (max-width: 937px) { 
      .welcome-sign-top {
    font-size: 2.0rem;
}

.lead {
    font-size: 1.3rem;
    letter-spacing: 2px;
}
  } 