@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&family=Special+Elite&display=swap');

:root {
    --primary--clr:#57ab24;
    --secondary--clr:#e41d34;
    --background--clr:#303030;
    --text--color--clr:#f8f9fa;
    --heading--h1:#f8f9fa;
    --heading--h2--h3:#303030;
}
*{
    margin:0;
    padding:0;
    border:0;
}
/*
html {
    overflow-x: hidden; 
}*/

body {
    font-family: 'Oswald', sans-serif;     
    font-size: 1.2rem;
    background-color:var(--background--clr);
    color: var(--text--color--clr);
    letter-spacing: 1px;
    margin:0;
    height:100vh;
  /*  width: 100vw;*/
}

h1,
h2,
h3 {
 font-family: 'Special Elite', cursive;
}
 h1 {
    font-size: 2.8rem;
    color:var(--heading--h1);
 }
 h2 {
     font-size: 1.5rem;
     color:var(--heading--h2--h3);
 }
 h3 {
    font-size: 1.1rem; 
    color: var(--heading--h2--h3);
 }
 h4 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.6;
 }
 p {
    font-weight: 300;
 }
 
 /*---------------------------- NAVIGATION --------------------*/
  .logo {
    width: 110px;
    height: 58px;
    margin-left: 0px;
    padding: 5px 0px 5px  10px;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar {
    background-color:var(--primary--clr);
    color: var(--text--color--clr);
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    width: 100%;
    border: 0;
}
.navbar-brand {
    margin-right: 0;
}

.navbar .navbar-brand {
    font-weight:400;
    padding: 0;
}

.navbar .navbar-nav a {
    font-weight: 400;
}

.navbar .navbar-toggler {
    color: var(--background--clr);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text--color--clr);
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--background--clr);
}

.navbar .navbar-toggler:focus {
    outline-color:rgb(87 171 36);
}

/* ----------------------------------------SITE HOME/WELCOME - jumbotron ---------------- */
.welcome-sign-top {
    font-size: 24px;
    letter-spacing: 1px;
    color: var(--text--color--clr);
    margin-bottom: 5px;
}

.welcome-sign-bottom {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

hr {   
    width: 35%;
    height:3px;
    border: 0;
    border: 0;
    background-color: var(--secondary--clr);
    margin: 0 auto;
 }
/* ---------- Credit Photo by Lukas Medvedevas from Pexels ---------- */
/*------------CREDIT: inspiration/code snipped from Whiskey project in Bootstrap and customized----*/
.home-container {
    background: url('../images/hero-image.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: auto;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color:rgb(6 6 6 / 72%); 
    border-radius:0.9rem;
}

.btn-lg {
    font-size: 0.9rem;
    line-height: 1.5;
}

.btn-primary {
    color: var(--text--color--clr);
    background-color: var(--secondary--clr);
    border-color: var(--secondary--clr);
    letter-spacing: 2px;
    border-radius:0.7rem;
}
.btn-primary:hover {
    background-color: var(--primary--clr);
    border-color: var(--primary--clr);
}
.btn-style {
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* ------------------------------------------------------ ABOUT ------------------------------- */
/*-----------------#about style needed to lover the header out from the navbar in the about section -----------*/ 
#about {
    border-top:3px solid transparent;
    margin-top: -3px;
    height: 100vh;
}

.about-content {
    margin-top: 90px;
}

.content-item-text {
   text-align: justify; 
}

.tours-style h2 {
    text-align: left;
    font-weight: 700;
    color: var(--text--color--clr);
}

.heading-text {
    background-color: transparent;
    text-transform: uppercase;
   	margin: 50px 0px;
	padding: 5px 2px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.heading-text h1 {
    margin-top: 23px;
    margin-bottom: 16px;
    padding-top: 10px;
}
/*        
.container {
  align-items: center;
}
*/
.heading-text {
    margin:8px 0px;
}

.card {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.7rem;
}

.card-about {
    margin-bottom: 1rem;
}

h3 {
    text-align: center;
    margin-top: 23px;
}

/* ----------------------------------------------------------------- TOURS ------------------------------------------- */
.video-card-tours {
    height: 400px;
    margin-bottom: 40px;
}

#tours {
    border-top:1px solid transparent;
    margin-top: -1px;
    height: auto;
}

#image-tours {
   background-attachment: fixed;
   /* ---------- Credit Photo by Eric Sanman from Pexels ---------- */
    background-image: url('../images/forest.jpg');
    background-position: center;
    background-size: cover;
    /*width: 100vw;*/
    height: 800px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px; 
}

/* -------------------------- Credit: w3school snipped code/customized Image Hoover Overlay Fade for the images-------------------------- */
.card-tours {
    margin-bottom: 2.2rem;
    position: relative;
    width: 50%;
}

.card-img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-tours:hover .card-img {
    opacity: 0.7;
}

.card-tours:hover .middle {
    opacity: 1;
}

.text {
    background-color:rgb(6 6 6 / 72%); ;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 8%;
}

.phone-number{
    color: var(--text--color--clr);
}
.phone-number:hover{
    color: var(--primary--clr) ;
    text-decoration: none;
}
/* ------------------------------------------------------------------- GALLERY --------------------------------------------- */
#gallery {
    border-top:7px solid transparent;
    margin-top: -7px;
}
.image-style {
    width: 100%;
    height: auto;
    border: 6px solid white;
    border-radius: 0.3rem;  
    padding: 4px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-style:hover {
    align-items: center;
}

/* --------------------------------------------------------------------- CONTACT ------------------------------------------------ */
.contact-sent-btn{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin-top: 36px;
    width: auto;
}

.margin {
    margin-top: 26px;
    margin-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-details {
    color:var(--secondary--clr);
}
.contact-details:hover {
    color:var(--primary--clr);
    text-decoration: none;
}

#contact {
    border-top:3px solid transparent;
    margin-top: -3px;
    height: 100vh;
}

.input-box {
    width: 100%;
    display: block;
    background-color:#a7a9ab;;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
}

label {
    letter-spacing: 2px;
    margin-bottom: 0.3rem;
}

.input-box
{
    color: var(--background--clr);
    letter-spacing: 1px;
}

#image-contact {
   background-attachment: fixed;
   /* ---------- Credit Photo by Sebastian Voortman from Pexels ---------- */
    background-image: url('../images/happy-girl.jpg');
    background-position: center;
    background-size: cover;
    /*width: 100vw;*/
    height: 800px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px; 
}

/* ---------------------------------------------------------------------- FOOTER -------------------------------------------------- */
footer {
    width: 100%;
	bottom: 0px;
	height: 3.5rem;
    background-color:rgb(99 175 52);
    font-size: 1.3rem;
    color: var(--text--color--clr);
	display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	align-items: center;
	position: fixed;
}
 ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

footer .contact {
	width: 100%;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0px 0px;
    margin-left: 0.9rem;
}

.contact-links-item {
    display: inline-block;
}

.contact-links i {
    font-size:17px;
}

.contact-links a:hover {
    color:var(--background--clr);
    font-weight: 300;
}

.contact-links-item a {
    color: var(--text--color--clr);
    /*margin-right: 10px;*/
    padding-left: 2px;
    text-decoration: none;
}

.social-network {
    font-size: 110%;
    width: 40%;
	margin: auto 5%;
	list-style: none;
	    display: -webkit-box;
        display: -ms-flexbox;
	display: flex;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
	justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;	
    align-items: center;
}
.social-network a {
    color: var(--text--color--clr);
	margin:0.3rem;
	padding: 0.3rem;
}
.social-network i:hover{
    color:var(--background--clr);
}


/*--------------------------------------------------------Media to background images for smaller devices------*/

 @media screen and (max-width: 1024px){
     #image-contact {
   /* ---------- Credit Photo by Sebastian Voortman from Pexels ---------- */
    background-image: url('../images/happy-girl-mobile.jpg');
    }
    #image-tours {
    /* ---------- Credit Photo by Eric Sanman from Pexels ---------- */
        background-image: url('../images/forest-mobile.jpg');
    }
    /* ---------- Credit Photo by Lukas Medvedevas from Pexels ---------- */
    .home-container{
        background-image: url('../images/hero-image-mobile.jpg') ;
    }
 }
/*--------------------------------------------------------Media to heading-text on each section/page------*/
 @media screen and (max-width: 576px) {
    h1,
    h3,
    h4 {
         letter-spacing: 0;
    }

    p {
        letter-spacing: 0;
       /* text-align: left;*/
    }
    .content-item-text {
        text-align: left; 
    }
 }
/*-----------------------------------------------------------Media to Footer-------------------------------*/
@media screen and (max-width: 523px) {
   .contact-links i {
    font-size:0.6rem;
    }
footer .contact {
    font-size:0.9rem;
    }
.contact-links-item a {
    font-size: 0.7rem;
    }       
}
 
/*-------------------------------------------------------------Media to Welcome sign----------------------*/
@media screen and (min-width:380px){
.welcome-sign-top {
    font-size: 1.8rem;
    letter-spacing: 1px;
    }
.welcome-sign-bottom {
    font-size: 1.25rem;
    letter-spacing: 1px;
    }
}
 @media screen and (min-width:423px){
    .welcome-sign-top {
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .welcome-sign-bottom {
        font-size: 1.37rem;
        letter-spacing: 1px;
    }
}
 @media screen and (min-width:516px){
    .welcome-sign-top {
        font-size: 2.25rem;
    }
    .welcome-sign-bottom {
        font-size: 1.4rem;
    }
}
 @media screen and (min-width:570px){
    .welcome-sign-top {
        font-size: 2.5rem;
    }
    .welcome-sign-bottom {
        font-size: 1.6rem;
    }
}
/*
@media screen and (min-width:766px){
    .welcome-sign-top {
        font-size: 2.8rem;
    }
    .welcome-sign-bottom {
        font-size: 1.7rem;
    }
}*/
  /* ------------------------------------------------------------Media query for ABOUT section----------------*/
@media screen and (max-width: 576px){
    .about-content {
        margin-top: 1.3rem;
    }

}
@media screen and (max-width: 768px){
    #about {
        height: auto;
    }
}
  /* ------------------------------------------------------------Media query for TOURS section----------------*/
@media screen and (max-width: 1200px){
    .tours-style{
        margin-top: 7rem;
    }
}

@media screen and (max-width: 1200px){
    #tours{
        height: auto;
    }
}

@media screen and (max-width: 768px){
    #tours{
        height: auto;
    }
    .tours-images-style{
        margin-top: 2.0rem;
    }
    .tours-style {
        margin-top: 1.1rem;
    }
}
 /* ------------------------------------------------------------Media query for TOURS section------------------*/
@media screen and (max-width: 384px){
    h1 {
        font-size: 1.75rem;
    }
}   